/* ===== GENERAL ===== */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #2bb98f, #32dacb);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ===== CARD ===== */
.login-card {
    background: white;
    width: 420px;
    padding: 35px;
    border-radius: 18px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.15);
    text-align: center;
}

.login-card h2 {
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 600;
}

/* ===== INPUT ===== */
.input-field {
    width: 100%;
    padding: 12px 14px;
    margin: 10px 0;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    background: #f4f4f4;
    font-size: 14px;
}

.input-field:focus {
    border-color: #20b987;
    outline: none;
}

/* ===== SELECT (ROLE) ===== */
.select-role {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 8px;
    background: #f4f4f4;
    border: 1px solid #e1e1e1;
    font-size: 14px;
}

/* ===== BUTTON ===== */
.btn-login {
    width: 60%;
    padding: 11px;
    margin-top: 20px;
    background: #3ac77a;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    transition: 0.2s;
}

.btn-login:hover {
    background: #2bb168;
}

/* ===== LUPA PASSWORD ===== */
.forgot {
    display: block;
    text-align: left;
    margin-top: 5px;
    font-size: 12px;
    color: #4ba8c5;
}
